/**
 * WooCommerce CSS Variables
 */

$woocommerce:   	$primary;

$primarytext:       #ffffff;    /* Text on primary color bg*/

$secondary:         $gray-300;    /* Secondary buttons*/
$secondarytext:     $gray-800;   /* Text on secondary color bg*/

$highlight:         $success;               /* Prices, In stock labels, sales flash*/
$highlightext:      $white;  /* Text on highlight color bg*/

$contentbg:         #fff;                                       /* Content BG - Tabs (active state)*/
$subtext:           #777;                                       /* small, breadcrumbs etc*/